$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.header {
    &__dropdown {
        text-align: center;
    }

    &__account {
        background: none;
        border: none;
        color: var(--shade-light);
        cursor: pointer;
        margin: 0;
        padding: 0;
        width: 28px;
        height: 28px;
        margin-left: 1rem;

        @media(min-width: map-get($breakpoints, lg)) {
            margin-left: 2rem;
        }
    }
}