$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.link {
    position: relative;
    list-style: none;

    @media(min-width: map-get($breakpoints, lg)) {
        display: inline-block;
        position: relative;
    }

    &__a {
        color: var(--shade-light);
        cursor: pointer;
        font-family: var(--font-face-body);
        font-size: 1rem;
        font-weight: 400;
        position: relative;
        text-decoration: none;
        transition: ease all 0.1s;

        &::after {
            background: #fff;
            content: '';
            height: 1px;
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 80%;
            transition: ease all 0.2s;
            width: 100%;
        }

        &:hover {
            &::after {
                opacity: 1;
                top: calc(100% + 2px);
            }
        }

        &--has-children {
            padding-right: 1rem;

            &::before {
                font-size: 0.75rem;
                margin-left: 4px;
                position: absolute;
                right: 0;
                transition: ease all 0.3s;
                transform: translateY(-50%);
                top: 50%;
            }

            &:hover::before {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}